form#authForm {
  background-color: #fff;
  min-width: 310px;
  max-width: 60%;
  margin: 0 auto;
  color: black;
  font-size: 22px;
  border-radius: 16px;
  padding: 26px;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);
  h2 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 16px;
  }
  input {
    margin-bottom: 16px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    &:last-of-type {
      margin-bottom: 26px;
    }
  }
  > div {
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    button {
      border-radius: 4px;
      border: none;
      padding: 8px 26px;
      text-transform: capitalize;
      font-weight: bold;
      margin: 0 8px;
      transition: 0.4s;
      &:first-of-type {
        background-color: rgba(228, 129, 215, 0.3);
        &:hover {
          background-color: rgba(228, 129, 215, 1);
        }
      }
      &:last-of-type {
        background-color: rgba(36, 145, 145, 0.3);
        &:hover {
          background-color: rgba(36, 145, 145, 1);
        }
      }
    }
  }
}
